<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}"
>
<head>
	<meta charset="UTF-8">
	<title>WFS : 팝업/마커</title>

</head>

<body>
	<th:block layout:fragment="content_body">
	
		<h1 class="text-center mt-5 mb-5">팝업/마커</h1>
		
		<div class="row">
			<div class="col-12">
				<div id="map" class="map">
					<div id="popup"></div>
				</div>
				<div class="d-none">
					<div id="olPopup" title="Welcome to ol3"></div>
				</div>

			</div>
		</div>

		
	</th:block>
	
	
	<th:block layout:fragment="page_js">
		<script th:src="@{~/js/ol8.js}"></script>
	</th:block>
</body>
</html>
