<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hy.pro.ol.mapper.User_mapper">
	
	<select id="login" resultType="map" parameterType="map">
		SELECT
			*
		FROM
			DEFAULT_USER
		WHERE 
			USER_ID = #{login_id} and user_password = #{login_pwd}
		AND WITH_PROJ in ('studypoi', 'ALL')
	</select>
	
	<select id="getLoginUserInfo" resultType="map" parameterType="string">
		SELECT
			USER_ID,
			USER_PASSWORD,
			USER_NAME,
			USER_ROLE
		FROM
			DEFAULT_USER
		WHERE 
			USER_ID = #{login_id}
		AND WITH_PROJ in ('studypoi', 'ALL')
	</select>
	
	

</mapper>